# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg

# Environnement virtuel
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env
.env.local

# Données (trop gros pour Git)
data/raw/*.json
data/raw/*.csv
data/processed/*.json
data/processed/*.csv
data/processed/*.pkl
etl_elt/data/

# Modèles ML
*.pkl
*.joblib
scripts/ml/models/*.pkl

# Logs
*.log
logs/
airflow/logs/

# Airflow
airflow/*.db

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
