# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# Env variables
.env
.env.local

# Data files (trop gros pour Git)
data/raw/*.json
data/raw/*.csv
data/processed/*.json
data/processed/*.csv
data/processed/*.pkl
etl_elt/data/

# ML models
*.pkl
*.joblib
scripts/ml/models/*.pkl

# Logs
*.log
logs/
airflow/logs/

# Airflow
airflow/*.db

# Docker volumes (local)
.docker/

# OS
.DS_Store
Thumbs.db
